
/* --- Menu ---*/
#content #menu ul {
width: auto;
margin: 0 auto;
text-align: center;
}
#content #menu ul li{
display: block;
float: left;
list-style: none;
width: 20%;
margin: 0 10px 0 0;
padding: 0;
}

/* --- Page --- */
.page {
clear: both;
}

/* --- Illustration --- */
#content .page .illustration{
float: none;
display: inline;
text-align: center;
vertical-align: middle;
}
	#content .page .illustration a{
	clear: both;
	display: block;
	width: auto;
	margin: 0 auto;
	}
	#content .page .illustration a.cnef{
	display: block;
	float: left;
	}
	
/* --- Menu --- */
#content #menu ul li a.select{
margin-bottom: 3px;
padding-bottom: 2px;
border-bottom: 1px solid #5AA3CF;
}
